.c-panel-wrapper {
    padding: 10px;

    background-color: #383838;
    box-shadow: 0 0 10px -2px black;
    border: none;
}

.c-panel-header, .c-panel-body {
    padding: 10px;

    background-color: transparent;
}

/* Header */

.c-panel-header {
    margin-bottom: 20px;

    color: #49ceff;
}