.c-panel-wrapper {
    padding: 10px;

    background-color: #444;
    border: none;
}

.c-panel-header, .c-panel-body {
    padding: 10px;

    background-color: transparent;
}

/* Header */

.c-panel-header {
    margin-bottom: 20px;

    color: #49ceff;
}