<div id="c-sign-in-wrapper-row" class="row no-gutters justify-content-center align-items-center">
    <div class="col-4">
        <img id="c-sign-in-logo" class="pb-3" src="../../../resources/images/logo.svg" />
        <c-panel>
            <c-panel-body>
                <button id="c-sign-in-discord-button" class="btn btn-block" (click)="clickSignIn()">
                    Sign in with <img src="discord-logo-white.svg" />
                </button>
            </c-panel-body>
        </c-panel>
    </div>
</div>

