<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <c-panel>
                <c-panel-header>
                    Panel Title
                </c-panel-header>
                <c-panel-body>
                    Panel Contents
                </c-panel-body>
            </c-panel>
        </div>
        <div class="col-4">
            <c-panel>
                <c-panel-header>
                    Panel Title
                </c-panel-header>
                <c-panel-body>
                    Panel Contents
                </c-panel-body>
            </c-panel>
        </div>
        <div class="col-4">
            <c-panel>
                <c-panel-header>
                    Panel Title
                </c-panel-header>
                <c-panel-body>
                    Panel Contents
                </c-panel-body>
            </c-panel>
        </div>
    </div>
</div>