<!DOCTYPE html>
<html>
<head>
    <title>Cryptex</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1"/>

    <base href="/"/>

    <style type="text/css">
        body {
            background-color: #333;
        }
    </style>

    <style type="text/css">
        <%= require("!to-string-loader!css-loader!./resources/splashscreen/splashscreen.css") %>
    </style>

</head>
<body>
<c-app></c-app>

<div id="splashscreen">
</div>
</body>
</html>
